{% extends 'iroomie/index.html' %}



{% load static %}
{% block content %}
        <!-- header close -->
        <div class="pt-lg-11 pb-lg-11 pt-7 pb-7">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-xl-10 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="mb-5 text-center">
                            <h2>We want to make the journey as joyful as the moment when you finally find the perfect Roomstack Pair.</h2>
                            <p>ROOMSTACK help you find right place and the right roommate at the right price hassle-free.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="mt-xl-4 mb-2">
                            <img src="{% static 'assets/images/about-img-2.jpg' %}" alt="" class="img-fluid rounded">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="mb-2">
                            <img src="{% static 'assets/images/about-img-2.jpg' %}" alt="" class="img-fluid rounded">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="mt-xl-4 mb-2">
                            <img src="{% static 'assets/images/about-img-3.jpg' %}" alt="" class="img-fluid rounded">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="mb-2">
                            <img src="{% static 'assets/images/about-img-4.jpg' %}" alt="" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="pt-lg-11 pb-lg-11 pt-7 pb-7">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="mb-5">
                            <h2 class="h3">A solid partner with the numbers to prove it.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                        <div class="media">
                            <span class="mdi mdi-map-legend text-primary h1 mr-3"></span>
                            <div class="media-body">
                                <h3 class="text-primary h1 font-weight-bold">10k</h3>
                                <p class="h5 text-dark">Spaces Join Us
                                    Every Month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                        <div class="media counter">
                            <span class="mdi mdi-account-circle text-success h1 mr-3"></span>
                            <div class="media-body">
                                <h3 class="text-primary h1 font-weight-bold text-success">50k</h3>
                                <p class="h5 text-dark">Unique Monthly
                                    Visitors</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                        <div class="media counter">
                            <span class="mdi mdi-calendar-month text-danger h1 mr-3"></span>
                            <div class="media-body">
                                <h3 class="text-primary h1 font-weight-bold text-danger">60k</h3>
                                <p class="h5 text-dark">Booking Enquiries
                                    Made A Month</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                        <div class="media counter">
                            <span class="mdi mdi-file-document-box-outline text-warning h1 mr-3"></span>
                            <div class="media-body">
                                <h3 class="text-primary h1 font-weight-bold text-warning">700k</h3>
                                <p class="h5 text-dark">Spaces Listed
                                    Up to Date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <div class="pt-lg-11 pb-lg-11 pt-7 pb-7 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="mb-5">
                            <h2 class="h3">How to Get Started?</h2>
                            <p>Donec auctor hendrerit maui finsellus bibendum etexatempus. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                        <div class="card">
                            <div class="card-body">
                                <span class="icon-shape border border-primary icon-sm text-primary mb-4">1</span>
                                <h4>Get a Roomstack Profile</h4>
                                <p>Aenean lobortis iaculis luctus Vivamus sed posuere lore onsequat augucenas commodoet venenat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                        <div class="card">
                            <div class="card-body">
                                <span class="icon-shape border border-primary icon-sm text-primary mb-4">2</span>
                                <h4>Create An Experience </h4>
                                <p>Nullam id neque at ligula tincidun velnisl pellentesque one ullamcorp nunc etbibendum urna. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                        <div class="card">
                            <div class="card-body">
                                <span class="icon-shape border border-primary icon-sm text-primary mb-4">3</span>
                                <h4>Hosting Your Experience</h4>
                                <p>Proin aliquam eturna vitae porttiuam miconsectetur utquamaces sodales lorem ipsum simitomlectus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 text-center mt-5 ">
                        <a href="#" class="btn btn-primary">Let's start</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-lg-11 pb-lg-11 pt-7 pb-7">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                        <div class="mb-5">
                            <h2 class="h3">Leadership</h2>
                            <p>Morbi pretium sed nislinhendrerite nece plcerat placeod. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 text-center">
                        <div class="mb-3">
                            <img src="{% static 'assets/images/team-member-img-1.jpg' %}" alt="" class="rounded-circle img-fluid mb-4">
                            <h3 class="h5">Team Lead</h3>
                            <p class="font-weight-semibold">Team Lead</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12 text-center">
                        <div class="mb-3">
                            <img src="{% static 'assets/images/team-member-img-2.jpg' %}" alt="" class="rounded-circle img-fluid mb-4">
                            <h3 class="h5">Dev Lead</h3>
                            <p class="font-weight-semibold">Dev Lead</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 text-center">
                        <div class="mb-3">
                            <img src="{% static 'assets/images/team-member-img-3.jpg' %}" alt="" class="rounded-circle img-fluid mb-4">
                            <h3 class="h5">Marketing Lead</h3>
                            <p class="font-weight-semibold">Marketing Lead</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
     {% endblock %}





     <div class="theme-carousel">
        <div class="owl-carousel owl-theme owl-listing">
            {% for profile in user_profiles%}
            <div class="item">
        
                   
                        <div class="card">
                          <img
                            src="{% static 'assets/images/ladyimage.jpg' %}"
                            class="card-img-top"
                            alt="Waterfall"
                            style="height:230px;"
                            
                          />
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                              Some quick example text to build on the card title and make up the bulk
                              of the card's content.
                            </p>
                            <a href="#!" class="btn btn-primary">Button</a>
                          </div>
                        </div>
                      </div>
            
                      
                       
                      </div>
            
                      
                 
                <!-- listing block close  -->
            </div>

            {% endfor %}
         
        </div>
    </div>