{% extends 'iroomie/login-page.html' %}

{% load static %}

{% block content %}
<body>
    <div class="min-vh-100" style="background: url({% static 'assets/images/dropdown-img.jpg' %})no-repeat center center fixed; -webkit-background-size: cover;
  
        <div class="main-wrapper">
            <div class="container">
                <div class="row d-flex align-items-center min-vh-100">
                    <div class="offset-xl-3 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                    
                        <div class="card">
                            <div class="card-body">
                                <h2 class="h3">Recover Account</h2>
                                <p>Follow these simple steps to reset your account:</p>
                                <ul class="list-unstyled">
                                    <li>1. Enter your email address</li>
                                    <li>2. Wait for your recovery details to be sent.</li>
                                    <li>3. Follow as given instructions in your mail account.</li>
                                </ul>
                                <form>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="example@gmail.com" required="">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
   {% endblock %}